*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}


.App{
  max-width: 484px;
  width:100vw;
  margin:0 auto;
}

.keyboard,.letter-grid{
  margin: 0 auto;
}





.keyboard-key.wordleletter-exists-same-place, .letter.wordleletter-exists-same-place{
  background-color: green;
  color:white;

}

.keyboard-key.wordleletter-exists-different-place, .letter.wordleletter-exists-different-place{
  background-color: yellow;
  
  
}

.keyboard-key.wordleletter-exists-not, .letter.wordleletter-exists-not{
  background-color: #787c7e;
  color:white;
  
}