*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}


body{
  overflow:hidden;
  
}

.App{
  min-height:100vh;
  position:relative;  
  
}


.dark.App{
  background-color: black;
  color:white;
}

.container{
  max-width: 484px;
  width:90vw;
  margin:0 auto;
  text-align: center;
}

.theme-switcher{
  position:absolute;
  right:5px;
  top:5px;
  display:flex;
  align-items: center;
}

.theme-switcher span{
  padding:5px;
}



.keyboard,.letter-grid{
  margin: 0 auto;
}


.button {
  padding:10px 20px;
  background-color: transparent;
  border-radius: 5px;
  cursor:pointer;
}

.dark .button {
  color:white;
  border-color:white;
  color:white;
}








.keyboard-key.wordleletter-exists-not, .letter.wordleletter-exists-not{
  background-color: #787c7e;
  color:white;
  
}

.keyboard-key.wordleletter-exists-different-place, .letter.wordleletter-exists-different-place{
  background-color: yellow;
  color:black;
  
  
}

.keyboard-key.wordleletter-exists-same-place, .letter.wordleletter-exists-same-place{
  background-color: green;
  color:white;

}


@media screen and (max-width:550px) {
  .theme-switcher{
    position:initial;
    margin-top:20px;
    display:flex;
    justify-content: center;

  }
}


